outputs/*
!outputs/.gitkeep

datasets/nightdataset/*
!datasets/nightdataset/.gitkeep

datasets/nightdataset_resized_long2560/*
!datasets/nightdataset_resized_long2560/.gitkeep

**/__pycache__/
**/.pytest_cache/
*.pyc
*.pyo
*.swp

repos/Zero-DCE/batch_results/
repos/SCI/nightdataset-result/
repos/SCI/nightdataset_resized2560-result/
repos/SCI/nightdataset_resized2560-analysis/
repos/Zero-DCE/nightdataset_results/
repos/Zero-DCE/nightdataset_resized2560_results/
repos/Zero-DCE/nightdataset_analysis/
repos/Zero-DCE/nightdataset_analysis_2560/
